task_manager/__pycache__/task_builder.cpython-312.pyc
task_manager/__pycache__/task_creation_form.cpython-312.pyc
task_manager/__pycache__/task_factory.cpython-312.pyc
task_manager/__pycache__/task_manager.cpython-312.pyc
task_manager/__pycache__/TaskFactory.cpython-312.pyc
task_manager/__pycache__/TaskManager.cpython-312.pyc
